@import "tailwindcss";

/* ==========================================
   TELEGRAM MINI APP FIXES
   ========================================== */

:root {
  --tg-viewport-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: var(--tg-viewport-stable-height, 100vh);
  overflow: hidden !important;
  background-color: #050506;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  user-select: none;
}

.custom-chat-scroll::-webkit-scrollbar {
  display: none;
}
.custom-chat-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
